<% if category.child.present? %>
  <% if category.published %>
    <li class="item_category_parent">
      <%= category.name %>
    </li>
  <% end %>

  <% category.childen.sort_by {|e| e[:tag]}.each do |childen| %>
    <% if child.published %>
      <%= render '/shared/sub_category', category: childen %>
    <% end %>
  <% end %>
<% else %>
  <% if category.published %>
    <li class="item_category">
      <%= link_to category.name, root_path %>
    </li>
  <% end %>
<% end %>
