<% if category.children.present? %>
  <% if category.published %>
    <li class="item_category_parent">
      <%= category.name %>
    </li>
  <% end %>

  <% category.children.sort_by {|e| e[:tag]}.each do |children| %>
    <% if children.published %>
      <%= render '/shared/sub_category', category: children %>
    <% end %>
  <% end %>
<% else %>
  <% if category.published %>
    <li class="item_category">
      <%= link_to category.name, root_path %>
    </li>
  <% end %>
<% end %>
