<div class="container" id="customize-home-container">
  <div class="row">
    <div class="col s12 m12 l9">
    </div>
    <div class="col s12 m12 l3 right-menu-tab">
      <%= render partial: "shared/category" %>
    </div>
  </div>
</div>
